
// Vídeo 68 NngFor
// .list {
//     background-color: black;
//     padding: 3px;
// }

// video 70 ng Class

// .is-big {
//     font-size: 50px;
// }

// .is-green {
//     color: white;
//     background-color: green;
// }

// .is-orange {
//     color: white;
//     background-color: orange;
// }

// video 71 pipes

.active
{
    color: white;
    background-color: green
}

.parcial 
{
    color: white;
    background-color: orange
}

.bloqueio
{
    color: white;
    background-color: red
}