<!-- Vídeo 62 Two way DataBinding-->

<!--
<h1>Nome: </h1>
<input 
    type="text"
    [(ngModel)] = "name"
/>

<h1> Nome digitado: {{ name }} </h1> -->

<!--
[ngModel]="name"    <--input
(ngModelChange)="handleInputChange($event)"   <--output
-->

<!-- Vídeo 66 - Diretiva Estrutural - ngIf -->
<!-- Parte1 - Ajuste no if-else ngIf -->

<!-- <div style="background-color:green;" *ngIf="minhaProp; else meuTemplate" >Uma div!</div>

<ng-template #meuTemplate>
    <div style="background-color:red;">Uma div 2!</div>
</ng-template> -->


<!-- <ng-container *ngIf="minhaProp; then meuTemplate; else meuTemplate2"></ng-container>

<ng-template #meuTemplate>
    <div style="background-color:red;">Uma div then!</div>
</ng-template> 

<ng-template #meuTemplate2>
    <div style="background-color:green;">Uma div else!</div>
</ng-template> 

<button (click)="toggleProp()">Botão</button> -->

<!-- Vídeo 67 - Diretiva Estrutural - ngFor -->

<!-- <div class="list">
    <app-person 
        *ngFor=
            "let person of listPeople; 
            let i = index;
            let isOdd = odd;"
        [personName]="person.name"
        [personIdade]="person.idade"
        [personIndex]="i"
        [isOdd]="isOdd"
        [isSelected]="personSelectedIndex === i"
        (personSelected)="selectedPerson($event)"
    ></app-person>
</div> -->

 <!-- Video 69 ngStyle

<h1 [ngStyle]="{
    'font-size': fontSize + 'px',
    'color': textColor
}"> Sou um h1 !!!!</h1>

<button (click)="aumentoFonte()" >A+</button>
<button (click)="trocaCor()" >{{buttonText}}</button> -->


<!-- Video 69 ngStyle

<h1 [ngClass]="{
    'is-big is-green': isGreen,
    'is-orange': !isGreen
}">Sou um h1 haha</h1>

<button (click)="setToGreen()" >Verde</button>
<button (click)="setToOrange()" >Laranja</button> -->



